tr td:first-child{
    width: 60%
}

td:not(:first-child), th:not(:first-child){
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.articles{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    height: 80%;
}
a{
    text-decoration: none;
}

.main-article{
    height: 100%;
    width: 70%;
    margin-right: 2%;
}
.main-article img{
     margin: 20px 0 20px 0;
 }

.secondary-articles{
    height: 100%;
    width: 30%
}
.article p{
    text-overflow: ellipsis;
    line-height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 6rem;
}

.form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form div{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form textarea{
    height: 200px;
}
.form-control, .form-control:focus{
    background-color: darkgrey;
    color: white;
}

@media (max-width: 480px) {
    .articles{
        flex-direction: column;
    }
    .main-article, .secondary-articles{
        width: 100%;
    }
}
