:root{
    --colorPrimary: #2c3035;
    --hidenColor: #663399;
}
html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorPrimary);
    color: #ffffff
}
#contents{
    height: 100%;
    width: 80%;
}
.table-admin{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
