{% extends 'base.html.twig' %}

{% block title %}Show article{% endblock %}

{% block body %}
    <section class="container">
        <div class="articles">
            <div class="main-article card text-white bg-dark mb-3">
                <div class="card-body">
                    <h1 class="card-title">{{ article.title }}</h1>
                    {% if article.photo %}
                        <img class="card-img" src="{{ asset('/photo/' ~ article.photo) }}" alt="picture of {{ article.title }}"/>
                    {% endif %}
                    <p class="card-text">{{ article.content }}</p>
                </div>
            </div>
            <div class="secondary-articles ">
                <h4>Consulter d'autres articles</h4>
                {% for secondaryArticle in articles %}
                    {% if secondaryArticle.id != article.id %}
                        <a href="{{path("get_article",{slug: secondaryArticle.slug}) }}">
                            <div class="article card text-white bg-dark mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">{{ secondaryArticle.title }}</h5>
                                    {% if secondaryArticle.photo %}
                                        <img class="card-img" src="{{ asset('/photo/' ~ secondaryArticle.photo) }}" alt="picture of {{ secondaryArticle.title }}"/>
                                    {% endif %}
                                    <p class="card-text">{{ secondaryArticle.content }}</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
