{% extends 'base.html.twig' %}

{% block title %}Admin page{% endblock %}

{% block body %}
    <div class="table-admin">
        <table class="table table-dark table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Access</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>
                        <p>{{ article.title }}</p>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{path("get_article",{slug: article.slug}) }}">{{ "Get"|trans }}</a>
                    </td>
                    <td>
                        <a class="btn btn-warning" href="{{path("update_article",{slug: article.slug}) }}">{{ "Edit"|trans }}</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="{{path("delete_article",{slug: article.slug}) }}">{{ "Delete"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
