{% extends 'base.html.twig' %}

{% block title %}New article{% endblock %}

{% block body %}
    <section class="container">
        {{ form(form, {"attr": {"class": "form"}}) }}
        <a class="btn btn-danger" href="{{ path('articles')}}"> {{ "Return"|trans }}</a>
    </section>
{% endblock %}
