{% extends 'base.html.twig' %}

{% block title %}Edit article{% endblock %}

{% block body %}
    <section class="container">
        {{ form_start(form, {"attr": {"class": "form"}}) }}
            <div style="display: none">
                {{ form_widget(form.title) }}
                {{ form_widget(form.photoName) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.introduction) }}
                {{ form_widget(form.introduction) }}
            </div>
            <div class="mb-3">
                {{ form_widget(form.submit) }}
            </div>
        {{ form_end(form) }}
        <a class="btn btn-danger" href="{{ path('articles')}}"> {{ "Return"|trans }}</a>
    </section>
{% endblock %}
